<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<h1>이메일 체크</h1> <hr>

<form th:action="@{/checkEmail}" th:object="${form}" method="POST">
    email : <input type="text" id="mail" name="email" th:field="*{email}"
                   th:class="${#fields.hasErrors('email')} ? 'form-control fieldError' : 'form-control'">
    <br>
    <button type="submit">회원가입 완료하기</button>
</form>
</body>
</html>