<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div class="text-white">
        <h2>부동산 서비스</h2>
    </div>
    <form action="/login" method="POST">
        <div class="input-group input-group-lg w-50">
            <span class="input-group-text" id="inputGroup-sizing-lg">
                <img src="/img/person.png" height="30px" width="30px">
            </span>
            <input type="text" class="form-control" name="username" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-lg" placeholder="아이디 입력">
        </div>
        <div class="input-group input-group-lg w-50">
            <span class="input-group-text" id="inputGroup-sizing-lg">
                <img src="/img/lock.png" height="30px" width="30px">
            </span>
            <input type="password" class="form-control" name="password" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-lg" placeholder="비밀번호 입력">
        </div>
        <div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null">
            <span th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></span>
        </div>
        <br />
        <div class="btn-group w-50" role="group" aria-label="Basic outlined example">
            <button type="submit" class="btn btn-outline-primary">로그인</button>
        </div>
    </form>
    <br>
    <div class="row align-items-center w-50">
        <div class="col">
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="/findID"
               role="button" aria-controls="offcanvasExample">
                아이디찾기
            </a>
        </div>
        <div class="col">
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="/findPW"
               role="button" aria-controls="offcanvasExample">
                비밀번호찾기
            </a>
        </div>
        <div class="col">
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="/signup"
               role="button" aria-controls="offcanvasExample">
                회원가입
            </a>
        </div>
    </div>
</div>
</body>
</html>