<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>본인인증 진행</title>
</head>
<body>
    <div class="container">
        <div class="form-control">
            <input type="text" id="inputPhoneNumber" placeholder="전화번호 입력"/>
            <button type="submit" id="sendPhoneNumber">
                인증문자 발송하기
            </button>
            <input type="text" id="inputCertificatedNumber" placeholder="인증번호 입력">
            <button type="submit" id="checkBtn">클릭</button>
        </div>
    </div>
</body>
</html>
